$color-main: #FFF;
$color-secondary: #8D81AC;

$main-font: Montserrat, sans-serif;
$secondary-font: Lato, sans-serif;

$font-size-small: 14px;
$font-size-main: 16px;
$font-size-big: 21px;
$font-size-very-big: 24px;

$font-weight-bold: 700;
$font-weight-normal: 400;

$desktop: 1200px;
$tablet: 992px;
$mobileLG: 480px;
$mobile: 320px;